{# Jinja template for creating ~/.bash_profile on the master #}
export PATH="{{ paths.spark }}:{{ paths.spark }}/bin:{{ ansible_env.PATH }}:~/.local/bin:{{ paths.hadoop }}/sbin:{{ paths.hadoop }}/bin:{{ paths.java }}/bin:{{ paths.java }}/jre/bin"
