[Unit]
Description=Jupyter
After=syslog.target network.target

[Service]
User=root
EnvironmentFile=/etc/systemd/system/jupyter.env
WorkDirectory="{{ paths.jupyter_notebooks }}"
ExecStart={{ jupyter_cmd }}

[Install]
WantedBy=multi-user.target
